.validation-message {
  color: red;
  background: #ffeced;
  border: 1px solid red;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  margin: 0 auto 3px;
  padding: 4px 8px;
}

.form-submit {
  border-radius: 20px;
  background: #089dc7;
  border: 0;
  padding: 6px 18px;
  color: #fff;
  .icon {
    font-size: 18px;
    margin-right: 4px;
  }
}
