.widget-form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  text-align: left;
  margin-bottom: 8px;
  input,
  select {
    flex-grow: 2;
  }
  label {
    width: 60px;
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  .widget-form-input {
    flex-direction: row;
  }
}
