.widget-form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  text-align: left;
  margin-bottom: 8px;
  input,
  select {
    flex-grow: 2;
  }
  label {
    font-size: 10px;
  }
}

@media (min-width: 1200px) {
  .widget-form-input {
    flex-direction: row;

    label {
      min-width: 60px;
      font-size: 14px;
    }
  }
}
