.widget-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px 2px 0 2px;
  position: relative;
  z-index: 2;
}

.widget-title {
  font-size: 14px;
  margin: 0;
}
